body {
  margin: 0;
  padding: 10px 30px;
  font-family: Source Code Pro, monospace;
  font-size: 16px;
  background-color: #C0C6DB;
  color: #0B2A93;
}

h3 {
  color:#0B2A93;
  text-align: center;
  font-size: 2rem;
}
div {
  margin: 30px;
  width: 90%;
}

span {
  margin: 20px;
  text-align: left;
  vertical-align: top;
  padding: 0 20px;
}
.labelTxt {
  text-align: right;
  width: 15%;
}

.myButton {
  background-color: pink;
}

textarea {
  width: 65%;
  height: 30%;

}

.textR2L {
  direction: rtl;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
