body {
  margin: 0;
  padding: 10px 30px;
  font-family: sans-serif;
}

h1 {
  color: red;
}

textarea {
  width: 75%;
  height: 30%;
}
div {
  border: .5px solid red;
}
span {
  border: 2px solid green;
  width: 50%;
}

.wrapper {
  text-align: left;

}



.editor {
  width: 300px;
  margin: 40px;
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
