body {
  margin: 0;
  padding: 10px 30px;
  font-family: Source Code Pro, monospace;
  font-size: 16px;
  background-color: #C0C6DB;
  color: #0B2A93;
}

h3 {
  color:#0B2A93;
  text-align: center;
  font-size: 2rem;
}
div {
  margin: 30px;
  width: 90%;
}

span {
  vertical-align: top;
  padding: 0 20px;
  width: 20%;
}
.labelTxt {
  text-align: right;
  width: 15%;
  margin-right: 10px;
}

.myButton {
  background-color: pink;
  margin-right: 10px;
  border-radius: 5px;
}

textarea {
  width: 65%;
  height: 20%;

}

